<h3>See console for subscription outputs</h3>
<h2>Active Subscriptions: {{subscriptions.length}}</h2>

<div>
  <button class="btn btn-primary me-1" (click)="addSubscriber()">Add Subscriber</button>
  <button class="btn btn-primary me-1" (click)="clearSubscribers()">Clear Subscribers</button>
  <button class="btn btn-primary" (click)="toggleGuiSubscribers()">Toggle GUI Subscriber</button>
</div>

<hr>

<ul *ngIf="showGui">
  <!--  INTERESTING: The values come from an Observable which we pipe through an async pipe -->
  <li>Counter: {{counter | async}}<p>
  <li>Subject: {{subject | async}}<p>
  <li>Behaviour: {{behaviorSubject | async}}<p>
  <li>Replay: {{replaySubject | async}}<p>
</ul>
