<div class="container">
  <h1>Angular Examples</h1>
  <div class="row mt-2">
    <aside class="col-3 bg-light">
      <strong>Memorable Quotes Examples</strong>
      <ul>
        <li><a routerLink="memorable-quotes-v1-basics" routerLinkActive="active-link">Memorable Quotes V1 - Basic</a></li>
        <li><a routerLink="memorable-quotes-v2-di" routerLinkActive="active-link">Memorable Quotes V2 - DI</a></li>
        <li><a routerLink="memorable-quotes-v3-tests" routerLinkActive="active-link">Memorable Quotes V3 - Tests</a></li>
      </ul>

      <strong>Election Results Examples</strong>
      <ul>
        <li><a routerLink="election-results-v1-pipes" routerLinkActive="active-link">Election Results V1 - Pipes</a></li>
        <li><a routerLink="election-results-v2-routing" routerLinkActive="active-link">Election Results V2 - Routing</a></li>
      </ul>

      <strong>Course Booking</strong>
      <ul>
        <li><a routerLink="course-booking-v1-rest" routerLinkActive="active-link">Course Booking V1 - Events and REST</a></li>
        <li><a routerLink="course-booking-v2-template-forms" routerLinkActive="active-link">Course Booking V2 - Template Forms</a></li>
        <li><a routerLink="course-booking-v3-reactive-forms" routerLinkActive="active-link">Course Booking V3 - Reactive Forms</a></li>
      </ul>

      <strong>Misc</strong>
      <ul>
        <li><a routerLink="misc/lifecycle" routerLinkActive="active-link">Lifecycle</a></li>
        <li><a routerLink="misc/interceptors" routerLinkActive="active-link">Interceptors</a></li>
        <li><a routerLink="misc/custom-pipes" routerLinkActive="active-link">Custom Pipes</a></li>
        <li><a routerLink="misc/guards" routerLinkActive="active-link">Guards</a></li>
        <li><a routerLink="misc/custom-controls" routerLinkActive="active-link">Custom Controls</a></li>
        <li><a routerLink="misc/nested-content" routerLinkActive="active-link">Nested Content</a></li>
        <li><a routerLink="misc/directives" routerLinkActive="active-link">Directives</a></li>
        <li><a routerLink="misc/dom-interaction" routerLinkActive="active-link">DOM Interaction</a></li>
        <li><a routerLink="misc/host-binding" routerLinkActive="active-link">Host Binding</a></li>
        <li><a routerLink="misc/subjects" routerLinkActive="active-link">Subjects & Async Pipes</a></li>
        <li><a routerLink="misc/subsink" routerLinkActive="active-link">SubSink</a></li>
        <li><a routerLink="misc/change-detection" routerLinkActive="active-link">Change Detection</a></li>
      </ul>
    </aside>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

